body{
    margin: 0px;
    padding: 0px;
}
nav{
    color:white;
    background-color: rgb(61, 49, 49);
    display:flex;
    align-items: center;
    justify-content: space-around;
}
i{
    color: white;
}
.header{
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header .text{
    width: 60%;
}
.buttons button{
    font-size: 13px;
    border: 0px;
    padding: 7px;
    color: white;
    border-radius: 4px;
    
}
#button1{
    background-color: #007bff;
}
#button2{
    background-color: #6c757d
}
main{
    background-color: #f8f9fa!important;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mainclass{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    border-top-left-radius: calc(0.25rem - 1px);
    margin: 10px;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 15px;
}
.thumbnail img{
    width: 100%;
}
.main-text{
    width:fit-content;
    font-size: 15px;
    padding: 15px;
}
.main-footer-buttons button{
    border: 1px solid black;
    font-size: 12px;
    background-color: white;
    color:rgb(61, 49, 49);
}
footer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text p{
    font-size: large;
    width: 60%;
    padding: 30px;
    color: #6c757d!important;
}
.footer-text a, .footer-nav a{
    text-decoration: none;
    text-transform: none;
}
.toggle-lines{
    position: absolute;
    top:20px;
    right:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-lines .line{
    background-color: white;
    width: 100%;
    height: 20px;
    margin: 2px;
}
.navbar-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links ul li{
    list-style: none;
    margin: 10px;
}
.navbar-links ul li a{
    color: white;
    text-decoration: none;
}
@media (max-width:800px) {
    .toggle-lines{
        display:flex;
    }
    .navbar-links{
        display:none;
    }
    .nav{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .navbar-links li a{
        margin: 2px;
        width: 100%;
    }
    .navbar-links.active{
        display:flex 
    }
}
@media (min-width:801px) {
    .navbar-links{
        display:flex;
    }
    .toggle-lines{
        display:none;
    }
}